<navbar></navbar>
<div class="container my-5">
    <div class="row mb-2">
        <h2 class="col-12 col-md-4">Meus Alimentos</h2>
        <div class="col-6 col-md-4">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" placeholder="Pesquisar" ng-model="$ctrl.searchText" ng-change="$ctrl.atualizarFiltros()">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary border-left-0 border" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-6 col-md-4 text-right">
            <button class="btn btn-success" ng-click="$ctrl.novoAlimento()">Novo Alimento</button>
        </div>
    </div>

    <div> 
        <ul class="list-group">
            <li class="list-group-item list-group-item">
                <div class="row">
                    <div class="col-4">
                        <strong>Categoria</strong>
                    </div>
                    <div class="col-4 text-center">
                        <strong>Nome</strong>
                    </div>
                    <div class="col-4 text-right">
                        <strong>Calorias (kcal/100g)</strong>
                    </div>
                </div>    
            </li>

            <div class="text-center my-4" ng-if="$ctrl.isLoading">
                <loader></loader>
            </div>

            <div ng-if="!$ctrl.isLoading && $ctrl.alimentosFiltrados.length === 0" class="my-4 text-center">
                <p>
                    Nenhum alimento cadastrado ainda.
                </p>
            </div>
            
            <a ng-repeat="alimento in $ctrl.alimentosFiltrados" class="list-group-item list-group-item-action" ng-if="!$ctrl.isLoading" href="#!/meus-alimentos/{{alimento._id}}">
                <div class="row">
                    <div class="col-4">{{alimento.category}}</div>
                    <div class="col-4 text-center">{{alimento.description}}</div>
                    <div class="col-4 text-right">{{alimento.energy_kcal | number:2}}</div>
                </div>
            </a> 
        </ul>
    </div>
</div>
