<link rel="stylesheet" href="home.css">


<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    <a class="navbar-brand">WebSaúde</a> 
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto"> 
        <li class="nav-item mx-2"> 
            <a class="nav-link" href="" ng-click="$ctrl.navegar('perfil-usuario')">Perfil</a>  
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="" ng-click="$ctrl.navegar('resultados')">Resultados</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="" ng-click="$ctrl.navegar('alimentos')">Alimentos</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="" ng-click="$ctrl.navegar('meus-alimentos')">Meus Alimentos</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="" ng-click="$ctrl.navegar('refeicoes')">Refeições Diárias</a>
        </li>
        <li class="nav-item ml-2"> 
            <a class="nav-link" href="" logout>
            <i class="fas fa-sign-out-alt sair"></i>
            </a>
        </li>
        </ul>
    </div>
</nav>
