<navbar></navbar>
<div class="container mt-5">
    <div class="text-center" ng-if="$ctrl.isLoading">
        <loader></loader>
    </div>

    <div class="card" ng-if="!$ctrl.isLoading">
        <div class="card-header">
            <div class="d-flex">
                <h2 class="card-title">
                    {{$ctrl.modoEdicao ? 'Editar Perfil': 'Perfil de Usuário'}} 
                </h2>
                <button class="btn btn-info ml-auto" ng-click="$ctrl.editar()" ng-if="!$ctrl.modoEdicao">Editar</button> 
            </div>
        </div>
        <div class="card-body" ng-if="$ctrl.modoEdicao">
            <div class="card-text">
                <form >
                    <div class="form-group">
                        <label for="idade" class="control-label">Idade</label>
                        <input type="number" ng-model="$ctrl.perfil.idade" id="idade" class="form-control" placeholder="ex: 25">
                    </div>
                    
                    <div class="form-group">
                        <label for="altura" class="control-label">Altura (cm)</label>
                        <input type="number" ng-model="$ctrl.perfil.altura" id="altura" class="form-control" placeholder="ex: 175">
                    </div>
                    
                    <div class="form-group">
                        <label for="peso" class="control-label">Peso (kg)</label>
                        <input type="number" ng-model="$ctrl.perfil.peso" id="peso" class="form-control" placeholder="ex: 80">
                    </div>
            
                    <div class="form-group">
                        <label for="genero" class="control-label">Gênero</label>
                        <select name="genero" ng-model="$ctrl.perfil.genero" id="genero" class="form-control" ng-options="g for g in $ctrl.generos">
                            <option value="">Selecione um gênero</option>
                        </select> 
                    </div>
            
                    <div class="form-group">
                        <label for="nivelAtividade" class="control-label">Nível de atividade</label>
                        <select name="nivelAtividade" ng-model="$ctrl.perfil.nivelAtividade" id="nivelAtividade" class="form-control" ng-options="n.valor as n.label for n in $ctrl.niveis">
                            <option value="">Selecione um nível</option>
                        </select> 
                    </div>

                    <div class="form-group">
                        <label for="objetivo" class="control-label">Objetivo</label>
                        <select name="objetivo" ng-model="$ctrl.perfil.objetivo" id="objetivo" class="form-control" ng-options="o.valor as o.label for o in $ctrl.objetivos">
                            <option value="">Selecione um objetivo</option> 
                        </select>  
                    </div>

                    <fieldset class=form-group>
                        <legend>Medidas</legend>
                        <div class="form-group">
                            <label for="pescoco" class="control-label">Pescoço(cm)</label>
                            <p><small>Meça a circunferência do pescoço abaixo do pomo de adão</small></p>
                            <input type="number" ng-model="$ctrl.perfil.medidas.pescoco" id="pescoco" class="form-control" placeholder="ex: 52" required> 
                        </div>
                            <div class="form-group">
                                <label for="cintura" class="control-label">Cintura(cm)</label>
                                <p><small>Meça a circunferência da sua cintura num nível horizontal a zona do umbigo para homens e na parte mais estreita para mulheres</small></p>
                                <input type="number" ng-model="$ctrl.perfil.medidas.cintura" id="cintura" class="form-control" placeholder="ex: 75" required>
                            </div>  
                            <div class="form-group" ng-if="$ctrl.perfil.genero==='Feminino'">
                                <label for="quadril" class="control-label">Quadril(cm)</label>
                                <p><small>Meça a circunferência do quadril na zona horizontal mais larga</small></p> 
                                <input type="number" ng-model="$ctrl.perfil.medidas.quadril" id="quadril" class="form-control" placeholder="ex: 82" required> 
                            </div>
                    </fieldset>
                    
                    <button class="btn btn-danger" ng-click="$ctrl.fecharEdicao()">Cancelar</button>
                    <button class="btn btn-success" ng-click="$ctrl.salvar()">Salvar</button>
                </form>
            </div>
        </div>
        <div class="card-body" ng-if="!$ctrl.modoEdicao"> 
            <div>
                <strong>Idade: </strong>{{$ctrl.perfil.idade ? $ctrl.perfil.idade + ' anos' : '-'}}
            </div>
    
            <div>
                <strong>Altura: </strong>{{$ctrl.perfil.altura  ? $ctrl.perfil.altura + ' cm': '-'}}
            </div>
    
            <div>
                <strong>Peso: </strong>{{$ctrl.perfil.peso  ? $ctrl.perfil.peso + '  cm': '-'}} 
            </div>
    
            <div>
                <strong>Gênero: </strong>{{$ctrl.perfil.genero  ? $ctrl.perfil.genero : '-'}}
            </div>
    
            <div>
                <strong>Nível de atividade: </strong>{{$ctrl.perfil.nivelAtividade  ? $ctrl.perfil.nivelAtividade : '-'}}
            </div>

            <div>
                <strong>Objetivo: </strong>{{$ctrl.perfil.objetivo  ? $ctrl.perfil.objetivo : '-'}} 
            </div>

            <div>
                <strong>Medidas</strong>
                <ul>
                    <li>
                        <strong>Pescoço: </strong> {{$ctrl.perfil.medidas.pescoco ? $ctrl.perfil.medidas.pescoco + ' cm': '-'}} 
                    </li>
                    <li>
                        <strong>Cintura: </strong> {{$ctrl.perfil.medidas.cintura ? $ctrl.perfil.medidas.cintura + ' cm': '-'}} 
                    </li>
                    <li ng-if="$ctrl.perfil.genero==='Feminino'">
                        <strong>Quadril: </strong> {{$ctrl.perfil.medidas.quadril ? $ctrl.perfil.medidas.quadril + ' cm': '-'}} 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
