<navbar></navbar>
<div class="container my-4">
    <div class=" text-center ">
        <h2>Refeições Diárias</h2>
    </div>

    <div ng-if="$ctrl.isLoading" class="my-4 text-center">
        <loader></loader>
    </div>

    <div class="row">
        <div class="col-12 col-md-6" ng-repeat="refeicao in $ctrl.refeicoes" >
            <div class="card my-4" ng-if="!$ctrl.isLoading">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h4>
                            {{refeicao.nome}}
                        </h4>
                        <h4>
                           {{refeicao.totalCalorias | number:2}} kcal
                        </h4>
                    </div>
                </div>
        
                <div class="card-body">
                    <ul class="list-group" ng-if="refeicao.alimentos.length > 0">
                        <li class="list-group-item" ng-repeat="alimentoRefeicao in refeicao.alimentos">
                            <div class="d-flex justify-content-between align-items-center">
                                <div >
                                   {{alimentoRefeicao.quantidade}}g de {{alimentoRefeicao.alimento.description}} - ({{alimentoRefeicao.totalCalorias | number:2}} kcal)
                                </div>
                                <div >
                                    <a class="btn btn-outline-info" ng-click="$ctrl.editar(refeicao._id, alimentoRefeicao._id)" href="" title="Editar">
                                        <i class="fas fa-edit"></i>
                                    </a> 
                                    <a class="btn btn-outline-danger my-2" ng-click="$ctrl.excluir(refeicao._id, alimentoRefeicao._id)" title="Excluir"> 
                                        <i class="fas fa-trash"></i> 
                                    </a>  
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div ng-if="refeicao.alimentos.length === 0">
                        Nenhum alimento adicionado ainda...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>