<link rel="stylesheet" href="resultados.css">
<navbar></navbar>
<div class="container text-center my-5">
    <loader ng-if="$ctrl.isLoading"></loader>
    <div ng-if="!$ctrl.isLoading">
       <h2>Resultados de {{$ctrl.resultados.usuario.name || '-'}}</h2>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" href="" ng-click="$ctrl.exibirDescricao('imc')">
                <div class="d-flex align-items-center">
                    <div>
                        Índice de Massa Corporal
                    </div>
                    <div class="ml-auto">
                        {{$ctrl.resultados.imc || '-'}} 
                        <i class="fas fa-chevron-down ml-2" ng-if="!$ctrl.descricoes.imc"></i>
                        <i class="fas fa-chevron-up ml-2" ng-if="$ctrl.descricoes.imc"></i>
                    </div>
                </div>
                <div ng-if="$ctrl.descricoes.imc">
                    <div class="card card-body mt-2 descricao-resultados" >
                        IMC é a sigla para Índice de Massa Corporal que serve para avaliar o peso do indivíduo em relação à sua altura e assim indicar se está dentro do peso ideal, acima ou abaixo do peso desejado.
                        Você pode utilizar a tabela abaixo para consultar o seu Índice de Massa Corporal.
                    </div>
                    <table class="table table-bordered table-light mt-2"> 
                        <thead> 
                            <tr> 
                                <td>Resultado</td> 
                                <td>Situação</td> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr ng-repeat="linha in $ctrl.linhasIMC" ng-class="{'table-active' : $ctrl.resultados.faixaIMC == $index}"> 
                                <td>{{linha.resultado}}</td> 
                                <td>{{linha.situacao}}</td> 
                            </tr>  
                        </tbody> 
                    </table>
                </div>  
            </li>

            <li class="list-group-item list-group-item-action" href="" ng-click="$ctrl.exibirDescricao('taxaMetabolicaBasal')">
                <div class="d-flex align-items-center">
                    <div>
                        Taxa Metabólica Basal
                    </div>
                    <div class="ml-auto">
                        {{$ctrl.resultados.taxaMetabolicaBasal +' kcal' || '-'}}  
                        <i class="fas fa-chevron-down ml-2" ng-if="!$ctrl.descricoes.taxaMetabolicaBasal"></i>
                        <i class="fas fa-chevron-up ml-2" ng-if="$ctrl.descricoes.taxaMetabolicaBasal"></i>
                    </div>
                </div>
                <div ng-if="$ctrl.descricoes.taxaMetabolicaBasal">
                    <div class="card card-body mt-2 descricao-resultados" >
                            Taxa Metabólica Basal (TMB) é a quantidade mínima de energia que o seu corpo consome diariamente, que equivale á quantidade de calorias necessárias para manter o seu peso atual.
                    </div>
                </div>
            </li>

            <li class="list-group-item list-group-item-action" href="" ng-click="$ctrl.exibirDescricao('exigenciaAgua')">
                <div class="d-flex align-items-center">
                    <div>
                        Exigência de Água
                    </div>
                    <div class="ml-auto">
                        {{$ctrl.resultados.exigenciaAgua +' litros' || '-'}}  
                        <i class="fas fa-chevron-down ml-2" ng-if="!$ctrl.descricoes.exigenciaAgua"></i>
                        <i class="fas fa-chevron-up ml-2" ng-if="$ctrl.descricoes.exigenciaAgua"></i> 
                    </div>
                </div>
                <div ng-if="$ctrl.descricoes.exigenciaAgua">
                    <div class="card card-body mt-2 descricao-resultados" >
                            A água é um componente essencial de todos os tecidos corpóreos. Ela constitui mais de 60% do organismo humano e praticamente em todas as funções necessárias à vida. Depois do oxigênio é da ausência de água que mais o organismo sentirá falta, daí a importância de ser mantida uma boa hidratação corporal.
                    </div>
                </div>
            </li>

            <li class="list-group-item list-group-item-action" href="" ng-click="$ctrl.exibirDescricao('gorduraCorporal')">
                <div class="d-flex align-items-center"> 
                    <div>
                        Gordura Corporal
                    </div>
                    <div class="ml-auto">
                        {{$ctrl.resultados.gorduraCorporal +' %' || '-'}}  
                        <i class="fas fa-chevron-down ml-2" ng-if="!$ctrl.descricoes.gorduraCorporal"></i>
                        <i class="fas fa-chevron-up ml-2" ng-if="$ctrl.descricoes.gorduraCorporal"></i>
                    </div>
                </div>
                <div ng-if="$ctrl.descricoes.gorduraCorporal">
                    <div class="card card-body mt-2 descricao-resultados">
                        <strong>
                            Este cálculo é apenas uma estimativa, para obter o resultado mais preciso é necessário instrumentos específicos e uma visita a um médico.
                        </strong>
                        O seu percentual de gordura corporal é simplesmente a porcentagem de gordura 
                        que o seu corpo tem. O peso corporal total inclui os valores da gordura 
                        corporal e da massa magra (músculos, orgãos, sangue, e tudo mais).
                        Uma certa quantidade de gordura é essencial para o organismo desempenhar 
                        funções vitais. Por isso, uma pessoa nunca poderá acabar com toda gordura do 
                        corpo mas sim abaixar o percentual para que o corpo fique com formas 
                        torneadas e os músculos comecem a aparecer.
                        <table class="table table-bordered table-light mt-2"> 
                            <thead> 
                                <tr> 
                                    <td>Resultado</td> 
                                    <td>Situação</td> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                <tr ng-repeat="linha in $ctrl.linhasGorduraCorporal" ng-class="{'table-active' : $ctrl.resultados.faixaGorduraCorporal == $index}"> 
                                    <td>{{$ctrl.resultados.perfilUsuario.genero === 'Masculino' ? linha.resultadoHomem : linha.resultadoMulher}}</td> 
                                    <td>{{linha.situacao}}</td>
                                </tr>  
                            </tbody> 
                        </table>
                    </div>
                </div>
            </li> 
        </ul>
    </div>
</div>

